---
interface Props {
    title: string;
}
const { title } = Astro.props;
---
<section class="h-full w-full mt-24">
    <div class="relative">
        <div class="md:absolute inset-0 z-10">
            <div class="bg-gris-cemento w-full md:w-max clip-diagonal-inverso md:pl-16 lg:pl-20 md:pr-[25%] xl:pl-32 xl:pr-[30%] pt-12 pb-10 sm:pt-16 sm:pb-16" >
                <img
                    src="/images/logos/logo-vodem.svg"
                    class="w-24 min-[550px]:w-32 md:w-40 xl:w-48 h-auto mx-auto"
                    alt="logo de vodem"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <div class="w-full bg-amarillo py-10 md:py-16">
        <h2 class="uppercase text-center md:text-right text-5xl sm:text-5xl md:text-6xl lg:text-7xl font-light text-gris-cemento md:mr-[10%]">{title}</h2>
    </div>
</section>

<style>
    @media (min-width: 768px) {
        .clip-diagonal {
            clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
        }
    }
    @media (min-width: 768px) {
        .clip-diagonal-inverso {
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 40% 100%, 0% 100%);
        }
    }
    .clip-rhombus {
        transform:skew(-50deg);
    }
    .text-rhombus {
        transform:skew(50deg);
    }
</style>