---
import { clients } from "@/data/Clients.json";
const remainder4 = clients.length % 4;
const remainder3 = clients.length % 3;
const remainder2 = clients.length % 2;
---
<section class="mt-52 pt-1 bg-white">
    <div class="bg-amarillo py-4 px-10 w-[90%] sm:w-[40%] mt-32 chaflan-left">
        <h2 class="sm:ml-4 md:ml-10 min-[1730px]:ml-[30%] uppercase text-base sm:text-xl md:text-2xl lg:text-3xl text-gris-cemento font-extrabold">
            Nuestros clientes
        </h2>
    </div>
    <div class="mt-32 pb-20 grid grid-cols-1 sm:grid-cols-12 gap-4 container mx-auto items-center justify-center">
        {   
            clients.map((client, index) => (
                <img
                    src={client.srcGris}
                    alt={client.alt}
                    class={`w-40 h-auto mt-8 mx-auto ${
                        remainder3 === 2 && index >= clients.length - 2 ? 'md:col-span-6' : 'md:col-span-4'
                    } ${
                        remainder2 === 1 && index >= clients.length - 1 ? 'sm:col-span-12' : 'sm:col-span-6'
                    } ${
                        remainder4 === 1 && index >= clients.length - 1 ? 'lg:col-span-12' : 'lg:col-span-3'
                    }`}
                    loading="lazy"
                />
            ))
        }
    </div>
</section>