---

---
<footer class="bg-gris-cemento sm:py-20 py-16">
    <section class="flex items-center justify-center">
        <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 text-center text-white">
            <div class="flex justify-center sm:justify-start lg:justify-center items-center">
                <img
                    src="/images/logos/logo-vodem-horizontal.svg"
                    class="w-56 sm:w-40 lg:w-56 h-auto"
                    alt="logo de vodem"
                    loading="lazy"
                />
            </div>
            <div class="max-sm:mt-6">
                <div class="flex justify-center sm:justify-between">
                    <svg class="h-20 lg:h-28 max-lg:hidden" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.37 107"><path style="fill:#f6ca0f" d="M0 0h4.37v107H0z" data-name="Capa 1"/></svg>
                    <ul class="text-lg lg:text-lg xl:text-2xl font-medium text-center sm:text-left">
                        <li>cel: +54 9 261 23-2323</li>
                        <li>federicocurto@hotmail.com</li>
                        <li>www.vodem.com.ar</li>
                    </ul>
                    <svg class="h-20 lg:h-28 max-lg:hidden" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.37 107"><path style="fill:#f6ca0f" d="M0 0h4.37v107H0z" data-name="Capa 1"/></svg>
                </div>
            </div>
            <div class="flex justify-center sm:justify-start lg:justify-center items-center sm:max-lg:col-span-2 max-lg:mt-6">
                <div class="flex justify-center items-center">
                    <p class="text-lg md:text-xl lg:text-2xl font-medium mr-3">Seguinos en</p>
                    <img
                        class="w-10 h-10 lg:w-12 lg:h-12 mr-3" 
                        src="/images/iconos/instagram.svg"
                        alt="icono de instagram"
                        loading="lazy"
                    />
                    <img
                        class="w-10 h-10 lg:w-12 lg:h-12"
                        src="/images/iconos/linkedin.svg"
                        alt="icono de instagram"
                        loading="lazy" 
                    />
                </div>
            </div>
        </div>
    </section>
</footer>
<p class="bg-gris-cemento pb-24 sm:pb-10 text-white text-center text-md">
    Diseña <span class="inline font-bold hover:text-amarillo cursor-pointer">Polvora</span>
     - <span class="inline text-nowrap">Desarrolla 
<a class="font-bold hover:text-amarillo" href="https://manejoweb.com.ar" target="_blank">ManejoWeb</a></span></p>