
<section class="bg-[url('/images/index/hero.jpg')] bg-no-repeat bg-cover bg-center h-full w-full mt-16">
    <div class="relative">
        <div class="absolute inset-0 z-10">
            <div class="bg-gris-cemento w-full md:w-max clip-diagonal-inverso md:pl-20 md:pr-72 xl:pl-32 xl:pr-[30rem] pt-8 pb-16 md:pt-20 md:pb-20" >
                <img
                    src="/images/logos/logo-vodem.svg"
                    class="w-24 min-[550px]:w-32 md:w-40 xl:w-48 h-auto mx-auto"
                    alt="logo de vodem"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <div class="bg-gradient-to-b from-transparent to-black/80 h-full w-full flex flex-wrap justify-center items-start">
        <div class="relative w-full min-[920px]:ml-[15%] lg:ml-[10%] xl:ml-[20%] pt-64 mt-16 sm:mt-28 pb-4 md:pb-10">
            <div class="absolute inset-0 bg-amarillo mix-blend-multiply z-0 clip-diagonal"></div>
            <div class="flex justify-center md:justify-end relative md:right-[8%]">
                <h1 class="relative z-10 text-white text-center md:text-right font-medium text-4xl sm:text-5xl lg:text-6xl leading-normal sm:leading-none tracking-wide sm:tracking-widest lg:mr-[5%] xl:mr-[12%] min-[1500px]:mr-[18%] min-[1650px]:mr-[25%]">
                    INNOVACIÓN <br/>Y SOLIDEZ <br/>DESDE LA BASE
                </h1>
            </div>
        </div>
        <div class="relative w-full min-[920px]:ml-[15%] lg:ml-[10%] xl:ml-[20%] pt-24 pb-24">
            <div class="absolute inset-0 bg-amarillo mix-blend-multiply z-0"></div>
            <div class="flex max-sm:flex-col max-sm:items-center justify-center relative lg:right-[8%]">
                <div class="max-sm:mb-4 relative w-max py-5 px-8 sm:py-2.5 sm:px-4 md:py-5 md:px-8 outline outline-2 outline-white clip-rhombus">
                    <div class="absolute inset-0 bg-black/50 mix-blend-multiply z-0"></div>
                    <h2 class="relative z-10 text-base sm:text-sm md:text-base text-white text-rhombus uppercase font-extrabold">
                        Urbanizaciones
                    </h2>
                </div>
                <p class="text-white sm:hidden mb-8 text-lg text-center">
                    <span class="font-bold block">Crecimiento sostenible</span>de las comunidades
                </p>
                <div class="max-sm:mb-4 relative w-max py-5 px-8 sm:py-2.5 sm:px-4 md:py-5 md:px-8 outline outline-2 outline-white clip-rhombus">
                    <div class="absolute inset-0 bg-black/50 mix-blend-multiply z-0 "></div>
                    <h2 class="relative z-10 text-base sm:text-sm md:text-base text-white text-rhombus uppercase font-extrabold">
                        Obras industriales
                    </h2>
                </div>
                <p class="text-white sm:hidden mb-8 text-lg text-center">
                    <span class="font-bold block">Calidad y durabilidad</span>en cada proyecto
                </p>
                <div class="max-sm:mb-4 relative w-max py-5 px-8 sm:py-2.5 sm:px-4 md:py-5 md:px-8 outline outline-2 outline-white clip-rhombus">
                    <div class="absolute inset-0 bg-black/50 z-0"></div>
                    <h2 class="relative z-10 text-base sm:text-sm md:text-base text-white text-rhombus uppercase font-extrabold">
                        Pisos de hormigón
                    </h2>
                </div>
                <p class="text-white sm:hidden mb-8 text-lg text-center">
                    <span class="font-bold block">Funcionalidad y rendimiento</span>a largo plazo
                </p>
            </div>
            <div class="max-sm:hidden flex justify-center flex-row gap-16 relative lg:right-[8%] text-sm md:text-base text-center text-white mt-10">
                <p class="relative">
                    <span class="font-bold">Crecimiento sostenible</span><br/>de las comunidades
                </p>
                <p class="relative">
                    <span class="font-bold">Calidad y durabilidad</span><br/>en cada proyecto
                </p> 
                <p class="relative">
                    <span class="font-bold">Funcionalidad y rendimiento</span><br/>a largo plazo
                </p> 
            </div>
            <div class="flex flex-col items-center sm:flex-row gap-10 sm:gap-20 justify-center relative lg:right-[8%] mt-32">
                <img
                    class="h-auto w-28 sm:w-40 relative"
                    src="/images/clientes/san-antonio-logo.svg"
                    alt="logo del cliente san antonio"
                    loading="lazy"
                />
                <img
                    class="h-auto w-24 sm:w-32 relative"
                    src="/images/clientes/ford-logo.svg"
                    alt="logo del cliente san antonio"
                    loading="lazy"
                />
                <img
                    class="h-auto w-24 sm:w-32 relative"
                    src="/images/clientes/norton-logo.svg"
                    alt="logo del cliente san antonio"
                    loading="lazy"
                />
            </div>
        </div>
        
        
    </div>
</section>
<style>
    @media (min-width: 768px) {
        .clip-diagonal {
            clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
        }
    }
    @media (min-width: 768px) {
        .clip-diagonal-inverso {
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 40% 100%, 0% 100%);
        }
    }
    @media (max-width: 767px) {
        .clip-diagonal-inverso {
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 50% 100%, 50% 100%);
        }
    }
    @media (min-width: 640px) {
        .clip-rhombus {
            transform:skew(-40deg);
        }
        .text-rhombus {
            transform:skew(40deg);
        }
    }
</style>
