
<section class="bg-[url('/images/index/hero.webp')] bg-no-repeat bg-cover bg-center h-full w-full sm:mt-14">
    <div class="relative">
        <div class="absolute inset-0 z-10">
            <div class="md:bg-gris-cemento max-sm:mt-10 w-full md:w-max clip-diagonal-inverso md:pl-16 lg:pl-20 md:pr-[25%] xl:pl-32 xl:pr-[30%] pt-32 pb-10 md:pt-16 sm:pb-16 padding-custom" >
                <img
                    id="logo-vodem"
                    src="/images/logos/logo-vodem.svg"
                    class="w-52 min-[550px]:w-64 md:w-40 xl:w-48 h-auto md:h-[182.833px] xl:h-[219.4px] mx-auto aspect-[192/219]"
                    alt="logo de vodem"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <div class="bg-gradient-to-b from-transparent to-black/80 h-full w-full flex flex-wrap justify-center items-start">
        <div class="relative w-full lg:ml-[10%] sm:mt-16 pb-32 md:pb-14 pt-[30rem] pantallas-angostas">
            <div class="absolute inset-0 bg-amarillo mix-blend-multiply z-0 clip-diagonal"></div>
            <div class="flex justify-center md:justify-end relative lg:right-[8%]">
                <h1 class="relative max-sm:px-4 z-10 text-white text-center md:text-right font-medium text-4xl min-[400px]:text-5xl sm:text-6xl md:text-7xl xl:text-[5rem] min-[1550px]:text-8xl leading-normal sm:leading-none tracking-wide sm:tracking-widest lg:mr-10">
                    INNOVACIÓN <br/>Y SOLIDEZ <br/>DESDE LA BASE
                </h1>
            </div>
        </div>
        <div class="relative w-full lg:ml-[10%] pt-40 pb-32">
            <div class="absolute inset-0 bg-amarillo mix-blend-multiply z-0"></div>
            <div class="flex max-sm:flex-col max-sm:items-center justify-center lg:justify-end relative lg:right-[12%] lg:mr-10">
                <div class="max-sm:mb-6 relative w-[70%] sm:w-max py-5 sm:py-2.5 sm:px-4 md:py-5 md:px-8 xl:py-7 xl:px-12 min-[1665px]:py-8 min-[1665px]:px-16 outline outline-3 outline-white clip-rhombus">
                    <div class="absolute inset-0 bg-black/50 mix-blend-multiply z-0"></div>
                    <h2 class="relative z-10 text-center text-base sm:text-sm md:text-base xl:text-xl min-[1665px]:text-2xl text-white text-rhombus uppercase font-extrabold">
                        Urbanizaciones
                    </h2>
                </div>
                <p class="text-white sm:hidden mb-16 text-lg text-center">
                    <span class="font-bold block">Crecimiento sostenible</span>de las comunidades
                </p>
                <div class="max-sm:mb-6 relative w-[70%] sm:w-max py-5 sm:py-2.5 sm:px-4 md:py-5 md:px-8 xl:py-7 xl:px-12 min-[1665px]:py-8 min-[1665px]:px-16 outline outline-3 outline-white clip-rhombus">
                    <div class="absolute inset-0 bg-black/50 mix-blend-multiply z-0 "></div>
                    <h2 class="relative z-10 text-center text-base sm:text-sm md:text-base xl:text-xl min-[1665px]:text-2xl text-white text-rhombus uppercase font-extrabold">
                        Obras industriales
                    </h2>
                </div>
                <p class="text-white sm:hidden mb-16 text-lg text-center">
                    <span class="font-bold block">Calidad y durabilidad</span>en cada proyecto
                </p>
                <div class="max-sm:mb-6 relative w-[70%] sm:w-max py-5 sm:py-2.5 sm:px-4 md:py-5 md:px-8 xl:py-7 xl:px-12 min-[1665px]:py-8 min-[1665px]:px-16 outline outline-3 outline-white clip-rhombus">
                    <div class="absolute inset-0 bg-black/50 z-0"></div>
                    <h2 class="relative z-10 text-center text-base sm:text-sm md:text-base xl:text-xl min-[1665px]:text-2xl text-white text-rhombus uppercase font-extrabold">
                        Pisos de hormigón
                    </h2>
                </div>
                <p class="text-white sm:hidden mb-16 text-lg text-center">
                    <span class="font-bold block">Funcionalidad y rendimiento</span>a largo plazo
                </p>
            </div>
            <div class="max-sm:hidden flex justify-center lg:justify-end flex-row gap-8 md:gap-8 lg:gap-10 xl:gap-24 min-[1665px]:gap-16  relative text-sm md:text-xl min-[1665px]:text-2xl text-center text-white mt-10 md:right-[5%] lg:right-[18%] xl:right-[10%] lg:mr-5 xl:mr-16 min-[1665px]:mr-32">
                <p class="relative min-[1665px]:mr-[5%] max-w-64 md:max-w-52 xl:max-w-96">
                    <span class="font-bold">Crecimiento sostenible</span><br/>de las comunidades
                </p>
                <p class="relative min-[1665px]:mr-4 max-w-64 md:max-w-52 xl:max-w-96">
                    <span class="font-bold">Calidad y durabilidad</span><br/>en cada proyecto
                </p> 
                <p class="relative max-w-64 md:max-w-52 xl:max-w-96">
                    <span class="font-bold">Funcionalidad y rendimiento</span><br/>a largo plazo
                </p> 
            </div>
            <div class="mt-28 sm:mt-64 mb-20"  >
                <div class="lg:right-[5%]" id="animation-carousel" data-carousel="slide">
                    <div class="relative overflow-hidden h-40 flex flex-row justify-center items-center" id="carousel-items">
                    
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<script>
import { clients } from "@/data/Clients.json";

function createCarouselItems(logosPerSlide: number) {
    const carouselContainer = document.getElementById('carousel-items');
    let slideDiv: HTMLElement  = null;
    let slideDiv2: HTMLElement  = null;

    clients.forEach((logo, index) => {
        // Cada vez que empieza un nuevo slide, crear un div nuevo
        if (index % logosPerSlide === 0) {
            slideDiv = document.createElement('div');
            slideDiv.className = 'hidden duration-700 ease-in-out -translate-x-full absolute inset-0 transition-transform transform z-30';
            slideDiv.setAttribute('data-carousel-item', '');
            carouselContainer.appendChild(slideDiv);
            slideDiv2 = document.createElement('div');
            slideDiv2.className = 'grid grid-cols-1 items-center justify-center sm:gap-28 2xl:gap-36 sm:grid-cols-3 max-w-96 sm:max-w-screen-sm lg:max-w-screen-md mx-auto';
            slideDiv.appendChild(slideDiv2);
        }

        // Crear el img dentro del slide
        const img = document.createElement('img');
        img.className = 'h-auto w-32 lg:w-40 2xl:w-44 relative mx-auto';
        //aspect ratio
        img.style.aspectRatio = logo.width + '/' + logo.height;
        img.src = logo.srcBlanco;
        slideDiv2.appendChild(img);
    });
}

function setupCarousel() {
    if (window.innerWidth >= 640) {
        // Pantallas grandes, 3 logos por slide
        createCarouselItems(3);
    } else {
        // Pantallas pequeñas, 1 logo por slide
        createCarouselItems(1);
    }
}
//iniciar al cargar el DOM
window.addEventListener('DOMContentLoaded', () => {
    // Inicializar el carrusel
    setupCarousel();
})
</script>
<style>
    @media (min-width: 768px) {
        .clip-diagonal {
            clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
        }
    }
    @media (min-width: 768px) {
        .clip-diagonal-inverso {
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 40% 100%, 0% 100%);
        }
    }
    .clip-rhombus {
        transform:skew(-50deg);
    }
    .text-rhombus {
        transform:skew(50deg);
    }

    
    @media (min-width: 640px) and (min-height: 899px) {
        .pantallas-angostas {
            padding-top: 26rem;
        }
    }
    @media (min-width: 1280px) and (min-height: 899px) {
        .pantallas-angostas {
            padding-top: 30rem !important;
        }
    }
    @media (min-width: 640px) and (min-height: 650px) and (max-height: 898px) {
        .pantallas-angostas {
            padding-top: 22rem;
        }
        .padding-custom{
            padding-top:5rem !important;
        }
    }
    @media (min-width: 1280px) and (min-height: 650px) {
        .pantallas-angostas {
            padding-top: 18rem;
        }
    }

    @media (min-width: 1550px) and (min-height: 650px) {

        .pantallas-angostas {
            padding-top: 17rem !important;
        }
        
    }

    @media (min-width: 1550px) and (min-height: 799px) {

        .pantallas-angostas {
            padding-top: 20rem !important;
        }
    }
    
    @media (min-width: 1550px) and (min-height: 899px) {
        .pantallas-angostas {
            padding-top: 28rem !important;
        }
    }
    
</style>
