<section class="mt-20 pt-1 bg-white">
    <div class="bg-amarillo py-4 px-10 w-[90%] sm:w-[40%] mt-16 chaflan-left">
        <h2 class="sm:ml-4 md:ml-10 min-[1730px]:ml-[30%] uppercase text-base sm:text-xl md:text-2xl lg:text-3xl text-gris-cemento font-extrabold">
            PRINCIPIOS QUE DEFINEN NUESTRA EMPRESA
        </h2>
    </div>
    <div class="container sm:max-w-(--breakpoint-sm) lg:max-w-(--breakpoint-lg) xl:max-w-(--breakpoint-xl) max-sm:px-6 mx-auto mt-16 pb-20 text-gris-cemento text-left font-semibold text-lg sm:text-lg md:text-xl lg:text-2xl prose">
        <h3>CÓDIGO DE ÉTICA</h3>
        <h5><strong>Nombre de Fantasía:</strong> VODEM OBRAS INDUSTRIALES.</h5>
        <h5><strong>Razón Social:</strong> EDILE MENDOZA S.A.S.</h5>
        <h4>Preámbulo</h4>
        <p>En EDILE MENDOZA S.A.S., estamos comprometidos con la excelencia, la transparencia y la integridad en todas nuestras operaciones. Este Código de Ética establece los principios y valores que guían nuestra conducta diaria, reflejando nuestro firme compromiso con el cumplimiento de las leyes, la ética empresarial y las mejores prácticas en el sector de la construcción. Creemos que la integridad es la base de la confianza, tanto con nuestros clientes y proveedores, como con la sociedad en general, en el marco de nuestra participación en contrataciones privadas y en procesos de contratación pública con el Estado.</p>
        <h5><strong>1. Misión y Visión de la Integridad</strong></h5>
        <ul>
            <li><strong>Misión:</strong> Construir un futuro sostenible y de calidad, operando con la más alta ética y transparencia, contribuyendo al desarrollo de la provincia de Mendoza y del país.</li>
            <li><strong>Visión:</strong> Ser un referente en el sector de la construcción, reconocido por nuestra calidad, innovación y, sobre todo, por nuestra intachable conducta empresarial y nuestro compromiso con la integridad, entendida como un valor fundamental y una ventaja competitiva en el mercado.</li>
        </ul>
        <h5><strong>2. Principios Fundamentales</strong></h5>
        <p>Nos comprometemos a actuar bajo los siguientes principios:</p>
        <ul>
            <li><strong>Legalidad:</strong> Cumplir estrictamente con todas las leyes y regulaciones aplicables en la República Argentina y en la provincia de Mendoza, incluyendo la Ley Nacional 27.401 de Responsabilidad Penal de las Personas Jurídicas y la Ley Provincial 9.237 de Ética Pública y Lucha contra la Corrupción, así como con las normas internas de ética y control establecidas por la empresa.</li>
            <li><strong>Transparencia:</strong> Actuar de manera abierta y clara en todas nuestras relaciones comerciales y administrativas, evitando cualquier ocultamiento de información relevante que deba ser conocida.</li>
            <li><strong>Integridad y Honestidad:</strong> Conducirnos con rectitud, veracidad y honradez en todas nuestras acciones, rechazando cualquier forma de corrupción, soborno o práctica ilícita.</li>
            <li><strong>Respeto:</strong> Fomentar un ambiente de respeto mutuo entre todos los colaboradores, clientes, proveedores y la comunidad en general, valorando la diversidad y promoviendo la igualdad de oportunidades.</li>
            <li><strong>Responsabilidad y rendición de cuentas:</strong> Actuar con responsabilidad institucional ante nuestros grupos de interés y la sociedad en general; asumiendo las consecuencias de nuestras decisiones y acciones, tanto en el ámbito empresarial como en el impacto social y ambiental.</li>
            <li><strong>Confidencialidad y Privacidad:</strong> Proteger la información sensible y privilegiada a la que tengamos acceso en el desarrollo de nuestras actividades, la que será usada únicamente para los fines autorizados y por el período de tiempo estrictamente necesario para el uso para el cual se hayan obtenido.</li>
        </ul>
        <h5><strong>3. Compromisos Específicos</strong></h5>
        <ul>
            <li>Lucha contra la Corrupción y el Soborno:
                <ul>
                    <li>No toleraremos ninguna forma de soborno, ya sea activa o pasiva, directa o indirecta, ni la aceptación de ventajas indebidas.</li>
                    <li>Prohibimos ofrecer o recibir regalos, invitaciones o beneficios que puedan influir indebidamente en una decisión comercial o gubernamental, o que puedan ser percibidos como tal.</li>
                    <li>Todas las transacciones financieras serán registradas de manera precisa y transparente.</li>
                </ul>
            </li>

            <li>Conflictos de Interés:
                <ul>
                    <li>Los colaboradores y el administrador deberán evitar situaciones en las que sus intereses personales puedan influir en sus decisiones profesionales en la empresa.</li>
                    <li>Cualquier situación de posible conflicto de interés deberá ser declarada y gestionada de manera transparente. A este fin, todas las personas que forman parte de la estructura, así como subcontratistas, deberán firmar cuando corresponda, una declaración de ausencia de conflicto de interés, o bien, explicitar la misma para que pueda ser evaluada y tomarse las acciones pertinentes.</li>
                </ul>
            </li>

            <li>Relación con la Administración Pública:
                <ul>
                    <li>Todas nuestras interacciones con funcionarios públicos se realizarán dentro del marco legal, con transparencia y sin ofrecer ni aceptar ningún tipo de ventaja indebida, dejando constancia documentada de dichas operaciones cuando corresponda.</li>
                    <li>Cumpliremos estrictamente con las normativas de licitaciones y contrataciones públicas.</li>
                </ul>
            </li>

            <li>Relación con Clientes y Proveedores:
                <ul>
                    <li>Estableceremos relaciones basadas en la confianza, el respeto y la lealtad, seleccionando a nuestros proveedores de forma justa y transparente.
                    </li>
                    <li>Cumpliremos con los términos y condiciones acordados en nuestros contratos.</li>
                </ul>
            </li>

            <li>Protección de Activos de la Empresa:
                <ul>
                    <li>Los activos de la empresa serán utilizados de manera responsable y exclusivamente para fines legítimos del negocio.
                    </li>
                </ul>
            </li>

            <li>Denuncia de Irregularidades:
                <ul>
                    <li>Fomentaremos un ambiente donde se pueda denunciar, de buena fe y sin temor a represalias, cualquier conducta que se considere una violación a este Código o a la ley. No se requerirá aportar pruebas para realizar una denuncia, y se garantizará la protección del denunciante.</li>
                </ul>
            </li>
        </ul>
        <h5><strong>4. Aplicación y Cumplimiento</strong></h5>
        <ul>
            <li>Este Código de Ética es de aplicación obligatoria para el administrador, socios, colaboradores, empleados, contratistas y cualquier persona que actúe en nombre EDILE MENDOZA S.A.S. Cada colaborador firmará un documento de adhesión al mismo.</li>
            <li>El administrador de la empresa es el principal responsable de la difusión, supervisión y cumplimiento de este Código.</li>
            <li>El administrador firmará una declaración expresa de compromiso con este Código, la cual será archivada como respaldo documental.</li>
            <li>Cualquier violación a este Código de Ética será investigada y, de confirmarse, dará lugar a las acciones disciplinarias o legales correspondientes.</li>
        </ul>
        <h5><strong>5. Revisión y Actualización</strong></h5>
        <p>Este Código de Ética será revisado, como mínimo, una vez cada doce meses o antes, frente a cambios significativos en el marco legal o institucional; para asegurar su relevancia y efectividad, adaptándose a los cambios legislativos y a la realidad de la empresa.</p>
    </div>
</section>