<section class="mt-24 md:mt-56">
    <div class="container max-sm:px-6 sm:max-w-screen-sm lg:max-w-screen-lg xl:max-w-screen-xl mx-auto prose">
        <p class="text-gris-cemento text-left font-semibold text-lg sm:text-lg md:text-xl lg:text-2xl">
            En Vodem, nos respaldan más de 15 años de experiencia en el sector de la construcción, tanto a nivel local como internacional. Nos especializamos en ejecutar proyectos con rapidez y precisión, manteniendo un enfoque profesional basado en la seriedad y responsabilidad.
        </p>
        <p class="text-gris-cemento text-left font-semibold text-lg sm:text-lg md:text-xl lg:text-2xl">
            Liderados por el Ing. Federico Curto, combinamos una profunda comprensión técnica con innovación, garantizando soluciones constructivas de alta calidad y eficiencia en cada obra que emprendemos.
        </p>
    </div>

    <div class="bg-amarillo py-4 px-10 w-[90%] sm:w-[60%] mt-20 chaflan-left">
        <h2 class="sm:ml-4 md:ml-10 min-[1730px]:ml-[20%] uppercase text-base sm:text-xl md:text-2xl lg:text-3xl text-gris-cemento font-extrabold">
            Innovación y solidez desde la base
        </h2>
    </div>
    <div class="flex justify-end relative">
        <div class="bg-gris-cemento py-4 sm:px-10 w-[90%] sm:w-[80%] mt-32 chaflan-right">
            <h2 class="ml-[15%] sm:ml-[5%] md:ml-[5%] lg:ml-[10%] xl:ml-[20%] uppercase text-xl sm:text-xl md:text-2xl lg:text-3xl text-amarillo font-semibold">
                Federico Curto
            </h2>
        </div>
       
        <div class="absolute inset-0 z-0 max-sm:flex max-sm:justify-center sm:left-[60%] top-52 sm:top-14">
            <div class="h-72 w-72 md:h-80 md:w-80 lg:h-96 lg:w-96">
                <img
                    class="rounded-full object-cover h-full w-full border-4 border-amarillo"
                    src="/images/empresa/federico-curto.webp"
                    alt="federico curto ingeniero"
                    loading="lazy"
                />
            </div>
        </div>

    </div>
    <div class="mt-80 sm:mt-4 flex justify-center">
        <p class="text-gris-cemento text-center max-sm:px-6 sm:text-right font-semibold text-3xl max-w-xl sm:mr-[45%] lg:mr-[40%] xl:mr-[26%]">
            Ingeniero Civil con especialidad en Naves Industriales y Caminos de Hormigón.
        </p>
    </div>
</section>
