<section class="mt-20 md:mt-40 lg:mt-28 mb-24">
    <div class="text-gris-cemento text-center md:text-right md:mr-[10%]">
        <p class="font-normal text-2xl sm:text-3xl mb-12 max-sm:px-4">Soluciones Integrales en Construcción Industrial</p>
        <h2 class="font-bold text-4xl sm:text-5xl md:text-6xl max-w-(--breakpoint-xl) ml-auto max-sm:px-4">
            Combinamos experiencia <span class="lg:text-nowrap">técnica <span class="text-nowrap">e innovación</span></span>
        </h2>
    </div>
    <section class="container mx-auto mt-24">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-0">
            <article class="max-md:mt-16">
                <div class="bg-white flex flex-row items-center justify-center md:justify-between h-80 relative">
                    <span></span>
                    <div class="flex flex-col items-center justify-center md:justify-between h-80 pb-5 shadow-wrapper">
                        <span></span>
                        <img
                            src="/images/servicios/iconos/urbanizaciones.svg"
                            alt="Urbanizaciones"
                            class="w-36 h-auto"
                            loading="lazy"
                        />
                        <h3 class="uppercase text-white text-lg sm:text-xl md:text-lg lg:text-2xl text-center font-bold mt-4 bg-gris-cemento px-6 py-2">Urbanizaciones</h3>
                    </div>
                    <span class="max-md:hidden lg:hidden"></span>
                    <svg class="h-20 lg:h-64 max-lg:hidden" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.2 250.75">
                        <path style="fill:#f6ca0f" d="M0 0h4.2v250.75H0z" data-name="Capa 1"/>
                    </svg>
                </div>
                <h4 class="text-gris-cemento max-w-[80%] mx-auto bg-amarillo text-center font-bold px-6 py-2 mt-12 text-xl ">Crecimiento sostenible de las comunidades</h4>
                <hr class="border-b max-w-[70%] mx-auto border-gris-cemento my-8"/>
                <p class="text-gris-cemento max-w-[80%] mx-auto font-semibold text-center text-lg mt-8">Infraestructuras urbanas con un enfoque en redes pluviales, alcantarillado y saneamiento, optimizando cada detalle para el crecimiento sostenible de las comunidades.</p>
            </article>
            <article class="max-md:mt-16">
                <div class="bg-white flex flex-row items-center justify-center md:justify-between h-80 relative">
                    <span></span>
                    <div class="flex flex-col items-center justify-center md:justify-between h-80 pb-5 shadow-wrapper">
                        <span></span>
                        <img
                            src="/images/servicios/iconos/obras-industriales.svg"
                            alt="Obras industriales"
                            class="w-52 h-auto"
                            loading="lazy"
                        />
                        <h3 class="uppercase text-white text-lg sm:text-xl md:text-lg lg:text-2xl text-center font-bold mt-4 bg-gris-cemento px-6 py-2">Obras industriales</h3>
                    </div>
                    <span class="max-md:hidden lg:hidden"></span>
                    <svg class="h-20 lg:h-64 max-lg:hidden" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.2 250.75">
                        <path style="fill:#f6ca0f" d="M0 0h4.2v250.75H0z" data-name="Capa 1"/>
                    </svg>
                </div>
                <h4 class="text-gris-cemento max-w-[80%] mx-auto bg-amarillo text-center font-bold px-6 py-2 mt-12 text-xl ">Calidad y durabilidad en cada proyecto</h4>
                <hr class="border-b max-w-[70%] mx-auto border-gris-cemento my-8"/>
                <p class="text-gris-cemento max-w-[80%] mx-auto font-semibold text-center text-lg mt-8">Construcción de instalaciones robustas y eficientes para diferentes industrias, asegurando calidad y durabilidad en cada proyecto.</p>
            </article>
            <article class="max-md:mt-16">
                <div class="bg-white flex flex-row items-center justify-center md:justify-between h-80 relative">
                    <span></span>
                    <div class="flex flex-col items-center justify-center md:justify-between h-80 pb-5 shadow-wrapper">
                        <span></span>
                        <img
                            src="/images/servicios/iconos/pisos-hormigon.svg"
                            alt="pisos de hormigón"
                            class="w-40 h-auto"
                            loading="lazy"
                        />
                        <h3 class="uppercase shadow-lg text-white text-lg sm:text-xl md:text-lg lg:stext-2xl text-center font-bold mt-4 bg-gris-cemento px-6 md:px-2 lg:px-6 py-2">Pisos de hormigón</h3>
                    </div>
                    <span></span>
                </div>
                <h4 class="text-gris-cemento max-w-[80%] mx-auto bg-amarillo text-center font-bold px-6 py-2 mt-12 text-xl ">Funcionalidad y rendimiento a largo plazo</h4>
                <hr class="border-b max-w-[70%] mx-auto border-gris-cemento my-8"/>
                <p class="text-gris-cemento max-w-[80%] mx-auto font-semibold text-center text-lg mt-8">Pisos industriales resistentes y duraderos, diseñados para soportar las exigencias del tránsito pesado, garantizando funcionalidad y rendimiento a largo plazo.</p>
            </article>
        </div>
    </section>
</section>
<style>
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
.effect2{
	-webkit-box-shadow: 10px 10px 6px -6px #777;
	   -moz-box-shadow: 10px 10px 6px -6px #777;
	        box-shadow: 10px 10px 6px -6px #777;
}
.shadow-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: -1; /* Para que la sombra quede detrás del contenido */
  }
</style>
